<div class="container">
  <router-outlet></router-outlet>
  <input type="text" class="form-control" placeholder="Search pokemon" [formControl]='query'>
  <a routerLink='/pokemon/add' class='btn btn-primary my-4'>Thêm mới pokemon</a>

  <div class="row g-4">
    <ng-container *ngIf='pokemonList | async; else notfound'>
      <div class="col-6 col-sm-4 col-md-3" *ngFor="let pokemon of pokemonList | async">
        <div class="border rounded p-2 d-flex flex-column justify-content-center align-items-center">
          <div class='text-center'>
            <a [routerLink]="['', pokemon.id]">
              <img [src]="pokemon.img" [alt]="pokemon.name.english" class='poke-image'>
              <h3>{{ pokemon.name.english }}</h3>
            </a>
          </div>
          <div class="mb-2">
          <span class="d-inline-block p-1 me-2 rounded text-uppercase bg-default" *ngFor="let item of pokemon.type"
                [ngClass]="{
          'bg-success':item === 'grass',
          'bg-danger':item === 'fire',
          'bg-primary':item === 'water',
          'indigo-color':item === 'poison'
        }">{{ item }}</span>
          </div>
          <button class='btn btn-outline-primary btn-sm mt-2' (click)='onEdit(pokemon.id)'>Edit</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #notfound>
  <div class='text-center'>
    <h3>Không tìm thấy pokemon.</h3>
  </div>
</ng-template>

<!--<app-modal *ngIf='isOpen' (closeModal)='isOpen = false'>-->
<!--  <app-pokemon-form></app-pokemon-form>-->
<!--</app-modal>-->


