<div class="container">
  <app-pokemon-search (searchPoke)='onSearchPokemon($event)'></app-pokemon-search>
  <div class="row g-4">
    <div class="col-sm-3" *ngFor="let pokemon of pokemonList">
      <div class="border rounded p-2 d-flex flex-column justify-content-center align-items-center" (click)='showDetail(pokemon.id)'>
        <img [src]="pokemon.img" [alt]="pokemon.name.english">
        <h3>{{ pokemon.name.english }}</h3>
        <div class="mb-2">
          <span class="d-inline-block p-1 me-2 rounded text-uppercase bg-default" *ngFor="let item of pokemon.type"
                [ngClass]="{
          'bg-success':item === 'Grass',
          'bg-danger':item === 'Fire',
          'bg-primary':item === 'Water',
          'indigo-color':item === 'Poison'
        }">{{ item }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal #modal>
  <app-pokemon-detail [id]='currentPokemon'></app-pokemon-detail>
</app-modal>


