<div class="container pokemon-detail-wrapper">
  <ng-container *ngIf="pokemonDetail$ | async as pokemonDetail">
    <button class="pokemon-button pokemon-next" (click)="nextPokemon(pokemonDetail.id)">
      Next
    </button>
    <button
      class="pokemon-button pokemon-prev"
      [disabled]="pokemonDetail.id === 1"
      (click)="prevPokemon(pokemonDetail.id)"
    >
      Prev
    </button>
    <div class="pokemon-detail">
      <img [alt]="pokemonDetail.name.english" [src]="pokemonDetail.img" />
      <h3 class="mb-3">{{ pokemonDetail.name.english }}</h3>
      <div class="d-flex justify-content-center">
        <div
          *ngFor="let type of pokemonDetail.type"
          [ngClass]="{
            'bg-success': type === 'Grass',
            'bg-danger': type === 'Fire',
            'bg-primary': type === 'Water',
            'indigo-color': type === 'Poison'
          }"
          class="p-1 me-2 rounded text-uppercase bg-default"
        >
          {{ type }}
        </div>
      </div>
      <div class="mt-3">
        <div class="row">
          <div class="col-6 text-end text-uppercase">
            <p>HP</p>
            <p>Attack</p>
            <p>Defense</p>
            <p>SP Attack</p>
            <p>SP Defense</p>
            <p>Speed</p>
          </div>
          <div class="col-6 text-start fw-bold">
            <p>{{ pokemonDetail.base.HP }}</p>
            <p>{{ pokemonDetail.base.Attack }}</p>
            <p>{{ pokemonDetail.base.Defense }}</p>
            <p>{{ pokemonDetail.base.SpAttack }}</p>
            <p>{{ pokemonDetail.base.SpDefense }}</p>
            <p>{{ pokemonDetail.base.Speed }}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
