<div class='container'>
  <h2 class='text-center mb-4'>{{ pokeId | changeTitleForm }} Pokemon</h2>
  <div class='poke-form'>
    <form (ngSubmit)="pokeId ? onEditPokemon() : onSubmit()" [formGroup]="pokeForm" class="mb-4">
      <div class="mb-3" formGroupName='name'>
        <label for="pokeName" class="form-label">Poke name</label>
        <input
          type="text"
          id="pokeName"
          class="form-control"
          formControlName="english"
        />

        <div *ngIf='pokeForm.get("name.english")?.hasError("required") && pokeForm.get("name.english")?.touched'
             class='mt-2 alert alert-danger'
        >
          Field is required.
        </div>
        <div *ngIf='pokeForm.get("name.english")?.hasError("maxlength") && pokeForm.get("name.english")?.touched'
             class='mt-2 alert alert-danger'
        >
          Bạn đã nhập quá 100 ký tự.
        </div>
      </div>


        <mat-form-field appearance='outline'>
          <mat-label>Choose pokemon type</mat-label>
          <mat-select formControlName="type" multiple>
            <mat-option *ngFor="let pokemon of pokemonTypes" [value]="pokemon.name">{{pokemon.name}}</mat-option>
          </mat-select>
        </mat-form-field>

      <div formGroupName='base'>
        <div class="mb-3">
          <label for="HP" class="form-label">HP</label>
          <input
            type="text"
            class="form-control"
            id="HP"
            formControlName="HP"
          />
          <div *ngIf='pokeForm.get("base.HP")?.hasError("required") && pokeForm.get("base.HP")?.touched'
               class='mt-2 alert alert-danger'
          >
            Field is required.
          </div>
          <div *ngIf='pokeForm.get("base.HP")?.hasError("pattern") && pokeForm.get("base.HP")?.touched'
               class='mt-2 alert alert-danger'
          >
            Bạn phải nhập số.
          </div>
        </div>
        <div class="mb-3">
          <label for="Attack" class="form-label">Attack</label>
          <input
            type="text"
            class="form-control"
            id="Attack"
            formControlName="Attack"
          />
          <div *ngIf='pokeForm.get("base.attack")?.hasError("required") && pokeForm.get("base.attack")?.touched' class='mt-2 alert alert-danger'>
            Field is required.
          </div>
          <div *ngIf='pokeForm.get("base.attack")?.hasError("pattern") && pokeForm.get("base.attack")?.touched' class='mt-2 alert alert-danger'>
            Bạn phải nhập số
          </div>
        </div>
        <div class="mb-3">
          <label for="Defense" class="form-label">Defense</label>
          <input
            type="number"
            class="form-control"
            id="Defense"
            formControlName="Defense"
          />
          <div *ngIf='pokeForm.get("base.Defense")?.hasError("required") && pokeForm.get("base.Defense")?.touched'
               class='mt-2 alert alert-danger'
          >
            Field is required.
          </div>
          <div *ngIf='pokeForm.get("base.Defense")?.hasError("pattern") && pokeForm.get("base.Defense")?.touched'
               class='mt-2 alert alert-danger'
          >
            Bạn phải nhập số
          </div>
        </div>
        <div class="mb-3">
          <label for="SpAttack" class="form-label">SP Attack</label>
          <input
            type="number"
            class="form-control"
            id="SpAttack"
            formControlName="SpAttack"
          />
          <div *ngIf='pokeForm.get("base.SpAttack")?.hasError("required") && pokeForm.get("base.SpAttack")?.touched'
               class='mt-2 alert alert-danger'
          >
            Field is required.
          </div>
          <div *ngIf='pokeForm.get("base.SpAttack")?.hasError("pattern") && pokeForm.get("base.SpAttack")?.touched'
               class='mt-2 alert alert-danger'
          >
            Bạn phải nhập số
          </div>
        </div>
        <div class="mb-3">
          <label for="SpDefense" class="form-label">SP Defense</label>
          <input
            type="number"
            class="form-control"
            id="SpDefense"
            formControlName="SpDefense"
          />
          <div *ngIf='pokeForm.get("base.SpDefense")?.hasError("required") && pokeForm.get("base.SpDefense")?.touched'
               class='mt-2 alert alert-danger'
          >
            Field is required.
          </div>
        </div>
        <div class="mb-3">
          <label for="Speed" class="form-label">Speed</label>
          <input
            type="number"
            class="form-control"
            id="Speed"
            formControlName="Speed"
          />
          <div *ngIf='pokeForm.get("base.Speed")?.hasError("required") && pokeForm.get("base.Speed")?.touched'
               class='mt-2 alert alert-danger'
          >
            Field is required.
          </div>
        </div>
      </div>

      <button mat-raised-button color="primary" [disabled]="pokeForm.invalid">
        Save
      </button>
      <button mat-stroked-button (click)='cancel()'>
        Cancel
      </button>
    </form>
  </div>
</div>

<app-modal *ngIf='isOpen' (closeModal)='isOpen = false'>
  {{ pokemonInfo | json }}
</app-modal>
